:root {
    --back-color:rgba(79, 139, 114, 0.219);
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--back-color);
}

a {
    text-decoration: none;
}

span {
    margin-left: 3px;
}
